#{extends 'main.html' /}
#{set title:'CSM DISCOUNT '/}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/ui-lightness/jquery-ui-1.7.2.custom.css'}" />
#{/set}
#{ifErrors}
<div class="alert alert-error">
    <h2>Oops, please correct these errors</h2>
    <ul>
        #{errors}
            <li>${error}</li>
        #{/errors}
    </ul>
</div>
#{/ifErrors}
<form class="form-horizontal" method="POST" action='@{save()}'>
<fieldset>
    <div id="legend">
      <legend class="">Edit Job Discount</legend>
    </div>
    #{field 'item.pk.jobName'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="jobName">Job Name</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"  value="${item?.pk?.jobName}" readonly>
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your job name.</p>
      </div>
    </div>
    #{/field}
        #{field 'item.pk.ucrNo'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="ucrNo">UCR NO</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.pk?.ucrNo}" readonly>
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your ucr no.</p>
      </div>
    </div>
    #{/field}

         #{field 'item.pk.discountCode'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="discountCode">DISCOUNT CODE</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.pk?.discountCode}" readonly>
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your discount code.</p>
      </div>
    </div>
    #{/field}
             #{field 'item.devName'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="devName">Developer Name</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.devName}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your developer name.</p>
      </div>
    </div>
    #{/field}

             #{field 'item.businessOwner'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="businessOwner">BUSINESS OWNER</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.businessOwner}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your business owner.</p>
      </div>
    </div>
    #{/field}
 #{field 'item.accType'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="accType">ACCOUNT TYPE</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.accType}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your account type.</p>
      </div>
    </div>
    #{/field}
#{field 'item.accCate'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="accCate">ACCOUNT CATEGORY</label>
      <div class="controls">
        <input type="checkbox" name="customer" id="customer" value="I" checked > Individaul Customer
        <input type="checkbox" name="customer" id="customer" value="C" > Corporate Customer
        <input type="checkbox" name="customer" id="customer" value="B" > Business Customer
        <input type="hidden" name="${field.name}" id="${field.name}" >
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your account category.</p>
        <script type="text/javascript">
          $('#customer').live('click',function(){
            $('#item\\.accCate').val('');
            var result = "";
            $('#customer:checked').each(function(){
                result += $(this).val() + ',';
            });
            $('#item\\.accCate').val(result);
          });
        </script>
      </div>
    </div>
    #{/field}

    #{field 'item.pp'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="pp">PRICE PLAN</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.pp}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your price plan.</p>
      </div>
    </div>
    #{/field}
        #{field 'item.soc'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="soc">SOC</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.soc}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your soc.</p>
      </div>
    </div>
    #{/field}
            #{field 'item.keyword'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="keyword">KEYWORD</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.keyword}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your keyword.</p>
      </div>
    </div>
    #{/field}

    #{field 'item.actvCode'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="actvCode">ACTV_CODE</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.actvCode}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your activity Code.</p>
      </div>
    </div>
    #{/field}
    #{field 'item.actvRsnCode'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="actvRsnCode">ACTV_RSN_CODE</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.actvRsnCode}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your activity reason code.</p>
      </div>
    </div>
    #{/field}
    #{field 'item.benefit'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="benefit">BENEFIT</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.benefit}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your benefit.</p>
      </div>
    </div>
    #{/field}
     #{field 'item.advancePayment'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="advancePayment">ADVANCE PAYMENT</label>
      <div class="controls">
        <input type="text" size="20" name="${field.name}" id="${field.name}"   value="${item?.advancePayment}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your advance payment.</p>
      </div>
    </div>
    #{/field}
     #{field 'item.projectStartDate'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="projectStartDate">PROJECT START DATE</label>
      <div class="controls">
        <input type="text" size="20" class="datepicker" name="${field.name}" id="${field.name}"   value="${item?.projectStartDate}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your project start date.</p>
      </div>
    </div>
    #{/field}
     #{field 'item.projectEndDate'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="projectEndDate">PROJECT END DATE</label>
      <div class="controls">
        <input type="text" size="20" class="datepicker" name="${field.name}" id="${field.name}"   value="${item?.projectEndDate}">
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your project end date.</p>
      </div>
    </div>
    #{/field}
     #{field 'item.remark'}
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="remark">REMARK</label>
      <div class="controls">
        <textarea name="${field.remark}" id="${field.remark}"  cols="20" rows="5" value="${item?.remark}"></textarea>   
        <span class="error">${field.error}</span>
        <p class="help-block">Please provide your remark.</p>
      </div>
    </div>
    #{/field}
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Proceed</button>
         <a href="@{index()}" class="btn btn-primary" name="back" id="back">Cancel</a>  
      </div>
    </div>
</fieldset>
</form>
<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
	});
</script>