#{extends 'main.html' /}
#{set title:'Search' /}
<form class="well form-horizontal" method="POST" action=''>
  <fieldset>
    <div id="legend">
      <legend class="">Find Your Job Discount</legend>
    </div>
    <div class="control-group">
        <!-- JOB NAME -->
      <label class="control-label"  for="jobName">Job Name</label>
      <div class="controls">
        <input type="text" id="jobName" name="jobName" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your search job name.</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- DISCOUNT -->
      <label class="control-label" for="discountCode">Discount Code</label>
      <div class="controls">
        <input type="text" id="discountCode" name="discountCode" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your search discount code.</p>
      </div>
    </div>
      <div class="control-group">
        <!-- UCR NO -->
      <label class="control-label" for="ucrNo">UCR NO</label>
      <div class="controls">
        <input type="text" id="ucrNo" name="ucrNo" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your search ucr no.</p>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label" for="keyword">Keyword</label>
      <div class="controls">
        <input type="text" id="keyword" name="keyword" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your search keyword.</p>
      </div>
    </div>
<div class="control-group">
      <label class="control-label"  for="jobName">Max Result</label>
      <div class="controls">
        <select id="size">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
            <a href="#" class="btn btn-success" id='submit' name='submit'>Find</a>
            <a href="#" class="btn btn-primary" name="addJob" id="addJob">Add Job Description</a>  
      </div>
    </div>
  </fieldset>
</form>

<div id="result">
</div>

<script type="text/javascript" charset="${_response_encoding}">
    $("#addJob").live('click',function(){
        var link = '@{add()}';
        window.location = link;
    })
    // Rebuild state
    $('#jobName').val(sessvars.jobName) ;   
    $('#discountCode').val(sessvars.discountCode) ;   
    $('#ucrNo').val(sessvars.ucrNo) ;   
    $('#keyword').val(sessvars.keyword);
    if(sessvars.page == undefined) {
        sessvars.page = 1
    }
    if(sessvars.size == undefined) {
        sessvars.size = 10
    }
    $('#size option[value='+sessvars.size+']').attr('selected', 'true')
    
    // Search function
    var search = function() {
        sessvars.jobName = $('#jobName').val()
        sessvars.discountCode = $('#discountCode').val()
        sessvars.ucrNo = $('#ucrNo').val()
        sessvars.size = $('#size').val()
        var listAction = #{jsAction @list(':jobName',':discountCode',':ucrNo', ':keyword',':size', ':page') /} 
        $('#result').load(listAction({jobName: sessvars.jobName, discountCode: sessvars.discountCode,ucrNo :  sessvars.ucrNo, keyword : sessvars.keyword,size: sessvars.size, page: sessvars.page}), function() {
            $('#content').css('visibility', 'visible')
        })
    }
    
    // // Events handler
    $('#submit').click(function() {
        sessvars.page = 1
        search()
    })
    // $('#jobName').keyup(function() {
    //     sessvars.page = 1
    //     search()
    // })
    // $('#keyword').keyup(function() {
    //     sessvars.page = 1
    //     search()
    // })
    $('#nextPage').live('click', function(e) {
        sessvars.page = $(this).attr('href')
        e.preventDefault()
        search()        
    })
    
    // Init
    if(sessvars.jobName != undefined || sessvars.discountCode != undefined || sessvars.ucrNo != undefined || sessvars.keyword != undefined) {
        $('#content').css('visibility', 'hidden')
        search()
    }
    
</script>