#{extends 'main.html' /}
#{set title:'Test' /}

<h1>Test</h1>
<p><span>ban: </span><input type="text" id="ban" name="ban" size="30"><span>subscriber no: </span><input type="text" id="subscriberNo" name="subscriberNo" size="30"> <input class="btn" type="submit" id="submit" value="Test"></p>
<input type="hidden" id="ucrNo" name="ucrNo">
<input type="hidden" id="jobName" name="jobName">
<input type="hidden" id="discountCode" name="discountCode">

</br>
    <p class="buttons">
        <a href="@{CsmDiscounts.index()}">Back to search</a>      
    </p>
</br>
<div id="result">
</div>

<script type="text/javascript" charset="${_response_encoding}">

    // Rebuild state
    $('#ban').val(sessvars.jobName) ;   
    $('#subscriber').val(sessvars.discountCode) ;   
    $('#ucrNo').val(sessvars.ucrNo) ;   
    $('#jobName').val(sessvars.jobName);
    $('#discountCode').val(sessvars.discountCode);
    
    // Search function
    var search = function() {
        sessvars.jobName = $('#jobName').val();
        sessvars.discountCode = $('#discountCode').val();
        sessvars.ucrNo = $('#ucrNo').val();
        sessvars.ban = $('#ban').val();
        sessvars.subscriberNo = $('#subscriberNo').val()
        // sessvars.size = $('#size').val()
        var listAction = #{jsAction @testResult(':jobName',':discountCode',':ucrNo', ':ban', ':subscriberNo') /} 
        $('#result').load(listAction({jobName: sessvars.jobName, discountCode: sessvars.discountCode,ucrNo :  sessvars.ucrNo, ban : sessvars.ban,subscriberNo: sessvars.subscriberNo}), function() {
            $('#content').css('visibility', 'visible')
        })
    }
    
    // Init
    if(sessvars.jobName != undefined || sessvars.discountCode != undefined || sessvars.ucrNo != undefined || sessvars.ban != undefined || subscriberNo.subscriberNo != undefined) {
        $('#content').css('visibility', 'hidden')
        search()
    }
    
</script>