#{extends 'main.html' /}
#{set title:'Test' /}

<form class="well form-horizontal" method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Test Job Discount</legend>
    </div>
    <div class="control-group">
      <!-- BAN -->
      <label class="control-label"  for="jobName">JOB NAME</label>
      <div class="controls">
        <input type="text" id="jobNameText" name="jobNameText" placeholder="" value="" class="input-xlarge">
        <p class="help-block">Please provide your test ban.</p>
              <script type="text/javascript">
          var mapData = {};
          $('#jobNameText').typeahead({
              // source : arraySource
               source: function (query, process) {
              return $.get('/csm_discount/fill/jobName', {query : $('#jobNameText').val(),},
              function (data) {
                  var newData = [];
                  $.each(data, function(){
                      mapData[this.pk.jobName] = this.pk.jobName;
                      newData.push(this.pk.jobName);
                  });

              return process(newData);
              });
          },
          updater: function (item) {
              $('#jobNameText').val(mapData[item]);
              return item;
          }
          });                                                       
      </script>
      </div>
      <div class="control-group">
      <!-- UCR NO -->
      <label class="control-label"  for="ucrNo">UCR NO</label>
      <div class="controls">
        <input type="text" id="ucrNoText" name="ucrNoText" placeholder="" value="${ucrNo}" class="input-xlarge">
        <p class="help-block">Please provide your test ucr.</p>
        <script type="text/javascript">
          var mapData = {};
          $('#ucrNoText').typeahead({
              // source : arraySource
               source: function (query, process) {
              return $.get('/csm_discount/fill/ucrNo', {query : $('#ucrNoText').val(),},
              function (data) {
                  var newData = [];
                  $.each(data, function(){
                      mapData[this.pk.ucrNo] = this.pk.ucrNo;
                      newData.push(this.pk.ucrNo);
                  });

              return process(newData);
              });
          },
          updater: function (item) {
              $('#ucrNoText').val(mapData[item]);
              return item;
          }
          });                                                       
      </script>
      </div>
      <div class="control-group">
      <!-- DISCOUNT -->
      <label class="control-label"  for="discountCode">DISCOUNT PLAN</label>
      <div class="controls">
        <input type="text" id="discountCodeText" name="discountCodeText" placeholder="" value="" class="input-xlarge">
        <p class="help-block">Please provide your test discount.</p>
        <script type="text/javascript">
          var mapData = {};
          $('#discountCodeText').typeahead({
              // source : arraySource
               source: function (query, process) {
              return $.get('/csm_discount/fill/discountCode', {query : $('#discountCodeText').val(),},
              function (data) {
                  var newData = [];
                  $.each(data, function(){
                      mapData[this.pk.discountCode] = this.pk.discountCode;
                      newData.push(this.pk.discountCode);
                  });

              return process(newData);
              });
          },
          updater: function (item) {
              $('#discountCodeText').val(mapData[item]);
              return item;
          }
          });                                                       
      </script>
      </div>
    <div class="control-group">
      <!-- BAN -->
      <label class="control-label"  for="ban">BAN</label>
      <div class="controls">
        <input type="text" id="ban" name="ban" placeholder="" value="" class="input-xlarge">
        <p class="help-block">Please provide your test ban.</p>
      </div>
      <!-- SUBSCRIBERNO -->
        <label class="control-label" for="subscriberNo">SUBSCRIBER NO</label>
      <div class="controls">
        <input type="text" id="subscriberNo" name="subscriberNo" placeholder="" value="" class="input-xlarge">
        <p class="help-block">Please provide your test subscriber no.</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <a class="btn btn-success" href="#" id="test" name="test">Test</button>
        <a class="btn" href="@{CsmDiscounts.index()}">Back</a>  
      </div>
    </div>
  </fieldset>
</form>
<div class="row">
    <div id="result">
    </div>
</div>

<script type="text/javascript" charset="${_response_encoding}">

    $('#test').live('click',function(){
      search();
    });
    // Rebuild state
    $('#ban').val('') ;   
    $('#subscriber').val('') ;   
    $('#ucrNoText').val('${ucrNo}') ;   
    $('#jobNameText').val('${jobName}');
    $('#discountCodeText').val('${discountCode}');
    
    // Search function
    var search = function() {
        sessvars.jobName = $('#jobNameText').val();
       	sessvars.discountCode = $('#discountCodeText').val();
        sessvars.ucrNo = $('#ucrNoText').val();
        sessvars.ban = $('#ban').val();
        sessvars.subscriberNo = $('#subscriberNo').val()
        // sessvars.size = $('#size').val()
        var listAction = #{jsAction @testResult(':jobName',':discountCode',':ucrNo', ':ban', ':subscriberNo') /} 
        $('#result').load(listAction({jobName: sessvars.jobName, discountCode: sessvars.discountCode,ucrNo :  sessvars.ucrNo, ban : sessvars.ban,subscriberNo: sessvars.subscriberNo}), function() {
            $('#content').css('visibility', 'visible')
        })
    }
    
    // Init
    if(sessvars.jobName != undefined && 
    		sessvars.discountCode != undefined && 
    		sessvars.ucrNo != undefined && 
    		sessvars.ban != undefined && 
    		subscriberNo.subscriberNo != undefined) {
        $('#content').css('visibility', 'hidden')
        search()
    }
    
</script>